@import url("https://fonts.google.com/specimen/Raleway?query=rale#styles");
@import url("https://fonts.google.com/specimen/Open+Sans?query=open+sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  padding: 0px;
  margin: 0px;
  display: fixed;
}

header .scroll-line {
  display: fixed;
  position: relative;
  top: 30px;
  left: 0px;
  height: 6px;
  background: #08a6e4;
  width: 50%;
}

/*BREAKPOINT DESKTOP*/
@media (min-width: 1000px) {
  body .header_nav {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  body .header_nav .oxygen-title {
    position: relative;
    z-index: 2;
    padding: 1rem 2rem;
    display: inline-block;
  }
  body .header_nav .oxygen-title h1 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    color: #08a6e4;
  }
  body .header_nav nav {
    margin-right: 30px;
  }
  body .header_nav nav ul {
    display: flex;
    list-style: none;
  }
  body .header_nav nav ul li {
    margin: auto 1rem;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  body .header_nav nav ul li a {
    text-decoration: none;
    color: #a5a5a5;
    border-bottom: 3px solid transparent;
    padding: 22px 16px;
  }
  body .header_nav nav ul li a:hover {
    color: black;
    border-bottom: 3px solid #08a6e4;
  }
  body main #cabecera {
    position: relative;
    top: 100px;
    text-align: center;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  body main #cabecera article #first_h {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
  }
  body main #cabecera article p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 28px;
  }
  body main #cabecera article button {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #08a6e4;
    color: white;
    background: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    border: none;
    width: 90%;
    padding: 20px 0;
    margin-bottom: 51px;
    cursor: pointer;
  }
  body main #cabecera article #back_1_mobile {
    display: none;
  }
  body main #cabecera article #back_1_desktop {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  body main #cabecera article #second_h {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 25px;
  }
  body main #cabecera article figure {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    max-width: 1000px;
  }
  body main #cabecera article figure #users,
body main #cabecera article figure #views,
body main #cabecera article figure #posts {
    margin: 25px auto;
  }
  body main #cards_section {
    padding: 15px 15px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    /*THIRD CARD */
  }
  body main #cards_section .card {
    height: 370px;
    border: none;
    display: flex;
    width: 100%;
    max-width: 1124px;
    margin: 0px auto;
    background: white;
    border-radius: 5px;
    margin: 40px 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  body main #cards_section .card figure {
    display: flex;
    order: 2;
    margin: 50px 0 30px;
    width: 100%;
    position: relative;
  }
  body main #cards_section .card figure #macbook {
    z-index: 1;
    width: 390px;
    position: relative;
    right: 30px;
    margin-left: auto;
    margin-right: 0;
  }
  body main #cards_section .card figure #frame {
    position: absolute;
    right: 0px;
    bottom: 110px;
    width: 180px;
  }
  body main #cards_section .card figure #iphone {
    z-index: 1;
    position: relative;
    left: 30px;
    width: 426px;
  }
  body main #cards_section .card figure #circle {
    position: absolute;
    width: 320px;
    left: 30px;
  }
  body main #cards_section .card .wid60 {
    width: 60%;
  }
  body main #cards_section .card .wid40 {
    width: 40%;
  }
  body main #cards_section .card .card_left {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  body main #cards_section .card .card_right {
    order: 2;
  }
  body main #cards_section .card h2 {
    margin-top: 30px;
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-left: 22px;
    margin-bottom: 20px;
    order: 1;
    text-align: left;
  }
  body main #cards_section .card p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 22px;
    margin-bottom: 30px;
    order: 2;
  }
  body main #cards_section .card hr {
    border: 2px solid #fb3b64;
    margin-left: 22px;
    margin-bottom: 2rem;
    width: 70%;
    order: 3;
  }
  body main #cards_section .card #third_card {
    background: white;
    border-right: 10px solid #f7f7f7;
    height: 370px;
  }
  body main #cards_section .card figure#trumpet_wallpaper {
    border-left: 10px solid #f7f7f7;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 0 !important;
    margin: 0 !important;
    background: #55dfb4;
    height: 370px;
  }
  body main #cards_section .back_grey {
    background: #f7f7f7;
  }
  body main h2 {
    text-align: center;
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-top: 1rem;
    margin-bottom: 0 auto;
  }
  body main #pricing_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  body main #pricing_cards .pricing_section .basic_card {
    padding: 30px 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 2px solid #fb3b64;
    border-radius: 18px;
  }
  body main #pricing_cards .pricing_section .basic_card .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  body main #pricing_cards .pricing_section .basic_card .left h3 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  body main #pricing_cards .pricing_section .basic_card .left h1 {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: #fb3b64;
    margin: 0.5rem;
  }
  body main #pricing_cards .pricing_section .basic_card .right ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 2;
  }
  body main #pricing_cards .pricing_section .basic_card .right ul li {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  body main #pricing_cards .pricing_section .basic_card .right ul li img {
    margin-right: 0.5rem;
  }
  body main #pricing_cards .pricing_section .basic_card .button_price button {
    background: #fb3b64;
    bottom: 50%;
    transform: translateY(100%);
    color: white;
    padding: 16px 55px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
  }
  body main #pricing_cards .pricing_section .basic_card:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
  }
  body main aside {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    align-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
  }
  body main aside #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  body main aside #contact h2 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 0;
  }
  body main aside #contact p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 38px;
  }
  body main aside #contact #phonemail {
    display: flex;
    align-items: center;
    align-content: center;
  }
  body main aside #contact #phonemail span {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a5a5a5;
  }
  body main aside #contact #phonemail img {
    margin: 0 1rem;
  }
  body main aside #form {
    width: 50%;
    display: grid;
    grid-template-areas: "name" "inputName" "mail" "inputMail" "checkpoliticas" "button";
    grid-template-rows: repeat(4, 1fr) 3fr 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  body main aside #form #label_name, body main aside #form #label_email {
    grid-area: name;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #08a6e4;
    margin-bottom: 10px;
  }
  body main aside #form #input_name, body main aside #form #input_email {
    grid-area: inputName;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 1rem;
    width: 100%;
  }
  body main aside #form #label_email {
    grid-area: mail;
  }
  body main aside #form #input_email {
    grid-area: inputMail;
  }
  body main aside #form #checkpoliticas {
    grid-area: checkpoliticas;
    width: 90%;
    margin-top: 30px;
  }
  body main aside #form #checkpoliticas input[type=checkbox] {
    width: 10%;
    display: inline-flex;
    transform: scale(2);
    vertical-align: top;
  }
  body main aside #form #checkpoliticas #politicas {
    display: inline-flex;
    width: 90%;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
  }
  body main aside #form button {
    grid-area: button;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    background: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    color: white;
    border: none;
    justify-self: right;
    width: 50%;
  }
  body footer {
    width: 100%;
    margin-top: 44px;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.29);
  }
  body footer #container_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
  body footer #container_footer .left h1 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #08a6e4;
  }
  body footer #container_footer .left small {
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 300;
    color: #a5a5a5;
  }
  body footer #container_footer .right img {
    margin: 0.5rem;
  }
}
/*BREAKPOINT MOBILE*/
@media (max-width: 1000px) {
  hr {
    display: none !important;
  }
  .header_nav {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 70px;
    background: white;
    border: none;
    position: fixed;
    z-index: 3;
  }
  .header_nav .oxygen-title {
    position: relative;
    z-index: 2;
    width: 80%;
    padding: 1rem 2rem;
    display: inline-block;
  }
  .header_nav .oxygen-title h1 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    color: #08a6e4;
  }
  .header_nav .bars__menu {
    width: 20%;
    display: inline-block;
    position: relative;
    right: 0px;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
  }
  .header_nav .bars__menu span {
    display: block;
    width: 30px;
    height: 2px;
    background: #08a6e4;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 0.3s;
  }
  .cabecera-general {
    width: 100%;
    position: relative;
    background: white;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.29);
    z-index: 5000;
    transition: all 0.3s ease;
  }
  nav {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: -500px;
    transition: visibility 0.5s, opacity 0.5s, margin-top 0.5s linear;
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.3);
  }
  nav ul {
    position: relative;
    z-index: 0;
    padding: 3rem 0;
    width: 100%;
    margin-right: auto;
    text-align: left;
    list-style: none;
    background: white;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.28px;
  }
  nav ul li {
    position: relative;
    z-index: 0;
    color: #a5a5a5;
    margin-left: 2rem;
    line-height: 3;
    cursor: pointer;
  }
  nav ul a {
    text-decoration: none;
    color: #a5a5a5;
    padding: 22px 16px;
  }
  nav ul a:hover {
    color: black;
  }
  .activeLine1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  .activeLine2__bars-menu {
    opacity: 0;
    margin-left: 30px;
  }
  .activeLine3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
  .activeNav {
    position: relative;
    z-index: 0;
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }
  .activeCabeceraHeader {
    box-shadow: 0px 0px;
  }
  main #cabecera {
    position: relative;
    top: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  main #cabecera article #first_h {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
  }
  main #cabecera article p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 28px;
  }
  main #cabecera article button {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #08a6e4;
    color: white;
    background: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    border: none;
    width: 90%;
    padding: 20px 0;
    margin-bottom: 51px;
    cursor: pointer;
  }
  main #cabecera article #back_1_desktop {
    display: none;
  }
  main #cabecera article #back_1_mobile {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  main #cabecera article #second_h {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 25px;
  }
  main #cabecera article figure {
    width: 100%;
    padding-bottom: 50px;
  }
  main #cabecera article figure #users,
main #cabecera article figure #views,
main #cabecera article figure #posts {
    display: block;
    margin: 25px auto;
  }
  main #cards_section {
    padding: 15px 15px;
    background: #f7f7f7;
  }
  main #cards_section .card {
    background: white;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    margin: 40px 30px;
    display: block;
  }
  main #cards_section .card figure {
    margin: 50px 0 30px;
  }
  main #cards_section .card figure #macbook {
    z-index: 10;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  main #cards_section .card figure #frame {
    position: absolute;
    left: 50%;
    transform: translateY(-35%);
  }
  main #cards_section .card figure #iphone {
    z-index: 10;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  main #cards_section .card figure #circle {
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
  }
  main #cards_section .card div,
main #cards_section .card .card_right,
main #cards_section .card .card_left {
    display: block;
  }
  main #cards_section .card div h2,
main #cards_section .card .card_right h2,
main #cards_section .card .card_left h2 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: 22px;
    margin-bottom: 40px;
  }
  main #cards_section .card div p,
main #cards_section .card .card_right p,
main #cards_section .card .card_left p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-left: 22px;
    margin-bottom: 30px;
  }
  main #cards_section .card #trumpet_h {
    margin: 30px 20px;
  }
  main #cards_section .card #trumpet_wallpaper {
    width: 100%;
    background: #55dfb4;
    margin-bottom: 0;
    text-align: center;
    padding: 1rem 0;
  }
  main #cards_section .card #trumpet {
    position: relative;
    width: 100%;
    right: 0px;
    margin: 0 auto;
  }
  main h2 {
    text-align: center;
    margin: 0 auto;
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 14px;
  }
  main .pricing_section {
    padding: 30px 41px;
  }
  main .pricing_section .basic_card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: auto;
    border: 2px solid #fb3b64;
    border-radius: 18px;
    padding: 3rem 1rem 3rem 2rem;
  }
  main .pricing_section .basic_card .left {
    display: inline-block;
    width: 50%;
    text-align: center;
    top: 50%;
    transform: translateY(-20%);
  }
  main .pricing_section .basic_card .left h3 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  main .pricing_section .basic_card .left h1 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 46px;
    color: #fb3b64;
  }
  main .pricing_section .basic_card .right {
    display: inline-block;
    width: 50%;
  }
  main .pricing_section .basic_card .right ul {
    list-style: none;
  }
  main .pricing_section .basic_card .right ul li img {
    margin-right: 0.5rem;
  }
  main .pricing_section .basic_card .button_price button {
    position: relative;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%) translateY(150%);
    background: #fb3b64;
    color: white;
    padding: 16px 55px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
  }
  main aside {
    margin-top: 50px;
    margin-left: 30px;
  }
  main aside h2 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-bottom: 15px;
  }
  main aside p {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 38px;
  }
  main aside span {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a5a5a5;
  }
  main aside span img {
    margin-right: 1rem;
  }
  main aside #form {
    margin-top: 56px;
    width: 100%;
  }
  main aside #form .form_label {
    display: block;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #08a6e4;
    margin-bottom: 10px;
  }
  main aside #form input[type=text] {
    border: none;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 1rem;
    width: 90%;
  }
  main aside #form #checkpoliticas {
    width: 90%;
    margin-top: 30px;
  }
  main aside #form #checkpoliticas input[type=checkbox] {
    width: 10%;
    display: inline-block;
    transform: scale(2);
    vertical-align: top;
  }
  main aside #form #checkpoliticas #politicas {
    display: inline-block;
    width: 90%;
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
  }
  main aside #form button {
    font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    display: block;
    background: #08a6e4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    color: white;
    border: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 10%;
    padding: 1rem auto;
    width: 226px;
    height: 60px;
  }
  footer {
    width: 100%;
    margin-top: 44px;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.29);
  }
  footer #container_footer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 1rem;
  }
  footer #container_footer .left {
    display: inline-block;
    width: 70%;
  }
  footer #container_footer .left h1 {
    font-family: "Raleway", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #08a6e4;
  }
  footer #container_footer .left small {
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 300;
    color: #a5a5a5;
  }
  footer #container_footer .right {
    display: inline-block;
    width: 30%;
  }
  footer #container_footer .right img {
    margin: 0.5rem;
  }
}
/*PROFESSIONAL CARD SPECIFCS ID*/
#border_blue {
  border: 2px solid #08a6e4 !important;
}

#text_blue {
  color: #08a6e4 !important;
}

#padding_pro_blue {
  padding: 30px 10px;
}

#button_back_blue {
  background: #08a6e4 !important;
}

/*PREIUM CARD SPECIFCS ID*/
#border_green {
  border: 2px solid #55dfb4 !important;
}

#text_green {
  color: #55dfb4 !important;
}

#button_back_green {
  background: #55dfb4 !important;
}

.darkMode {
  background: #3D3D3D !important;
  color: white !important;
}

/*# sourceMappingURL=home.css.map */
