* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth !important;
}
body {
    min-width: 320px;
}
header {
    padding: 0px;
    margin: 0px;
    display: fixed;
}
h1, h1, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
p, span {
    font-family: "Open Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}