.carousel {
    height: 650px;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    
    &__botones {
        cursor: pointer;
        border: solid white;
        border-width: 0 6px 6px 0px;
        display: inline-block;
        padding: 10px;
        top: 50%;
    }
    #back {
        z-index: 2;
        position: absolute;
        left: 2%;
        transform: rotate(135deg);
    }
    #forward {
        transform: rotate(-45deg);
        z-index: 2;
        right: 2%;
        position: absolute;
    }
    &__radios{
        position: absolute;
        bottom: 10%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        #img-radio0 , #img-radio1, #img-radio2{
            margin: 1rem;
        
        }
    }
    img {
        border-radius: 0.5rem;
        width: 100%;
        z-index: 0;
    }
}
#img_slider0, #img_slider1, #img_slider2 {
    display: block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    opacity: 1;
    transition: all 1000ms linear;
}
.active-ImageSlide {
    opacity: 0 !important;
}
