.popup {
    z-index: 30;
  display: none;

  &__blocker {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    background: rgba(0, 0, 0, 0.5);
  }

  &__container {
    z-index: 31;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: #fff;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem 1rem;
    &__close {
        padding: 12px;
        cursor: pointer;
        border: 2px solid $oxygen-gray;
        border-radius: 0.5rem;
        position: absolute;
        right: 10px;
        top: 10px;
          &__lineA, &__lineB {
            width: 20px;
            height: 3px;
            right: 2px;
            top: 11px;
            background: $oxygen-gray;
            position: absolute;
          }
          &__lineA {
            transform: rotate(-45deg);
          }
          &__lineB {
            transform: rotate(-135deg);
        }
    }
    &__title {
        margin-top: 1rem;
        flex-grow: 3;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
    &__p {
      margin-bottom: 10px;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__mail {
        outline-color: $oxygen-blue;
        outline-offset: 4px;
        border:none;
        border-bottom: 2px solid black;
        padding-bottom: 2px;
        display: block;
        width: 50%;
    }
    &__button {
      cursor: pointer;
      font-weight: bold;
      color: $oxygen-white;
      border: none;
      border-radius: 0.5rem;
      background: $oxygen-blue;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &__button:hover {
      color: grey;
    }
  }
}
.popup-show {
  display: block;
}
