.scroll-line {
                position: fixed;
                z-index: 40;
                top: 70px;
                left: 0px;
                height: 6px;
                background: $oxygen-blue;
                /*valor que cambiara mediante js*/
                width: 1%;
                
        }


